
<div class="container">
  <div class="row">
    <div class="title col-12">
        <img src="assets/img/burger.png" class="img" alt="Cheeseburger">
        <h1>Eat-Da-Burger!</h1>
    </div>
  </div> 

  <div class="row">
    <div class="col-6 center">
      <h2>Ordered Burgers!</h2>

      {{#each burger}}
        {{#unless devoured}}
          <h5 id="burgers">
          {{this.id}}. {{this.burger_name}}
          
          <button type="submit" data-id="{{this.id}}" class="btn btn-primary devourBtn change-devour">Devour!</button>
         </h5>
        {{/unless}}
      {{/each}}

    </div>

    <div class="col-6 center">
      <h2>Devoured Burgers!</h2>
      
      {{#each burger}}
        {{#if devoured}}
         <p>
          {{this.id}}. {{this.burger_name}}
          </p> 
        {{/if}}
      {{/each}}
      
    </div>
  </div>
  
  <form>
      <div>
          <input type="text" class="form-control" id="addburger">
          <label for="exampleInputPassword1">Enter a burger and click "Submit".</label>
      </div>
      <button type="submit" class="btn btn-primary create-form" id="addburgerBtn">Submit</button>
  </form>

</div>





